.popup__btn_value_close {
    position: absolute;
    top: -40px;
    right: -35px;
    width: 32px;
    height: 32px;
    background-image: url(../../../../images/close.btn.svg);
    background-size: 32px;
    background-position: center;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

@media screen and (max-width: 540px) {
    .popup__btn_value_close {
        width: 20px;
        height: 20px;
        background-size: 20px;
        top: -35px;
        right: 0;
    }
}
