.popup__infotooltip-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 8px auto auto;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    border-radius: 2%;
    position: relative;
}

@media (max-width: 598px) and (min-width: 320px) {
    .popup__infotooltip-container {
        margin-top: 16px;
    }
}
/* ! import css */
