.popup__form {
    display: flex;
    padding: 0;
    margin: 40px 0 0;
    height: 190px;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 470px) {
    .popup__form {
        margin-top: 75px;
        width: 100%;
        height: calc (100% - 75px);
    }
}
