.profile__addbtn {
    width: 150px;
    height: 50px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: black;
    background-image: url(../../../images/add-btn.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 0.3s linear;
}

.profile__addbtn:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 950px) {
    .profile__addbtn {
        width: 282px;       
    }
}