.info {
    margin: 22px 0 25px 30px;
    width: 460px;
    min-height: 73px;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 640px) {
    .info {
        margin: 22px auto 25px;
        justify-content: center;
    }
}

@media screen and (max-width: 500px) {
    .info {
        width: 290px;
        min-height: 54px;
        margin: 26px auto  36px;      
    }
}
