.card {
  position: relative;
  width: 282px;
  min-height: 361px;
  background: #ffffff;
  border-radius: 10px;
  margin-bottom: 20px;
  list-style-type: none;
}

.card:nth-child(3n + 2) {
  margin-left: 17px;
  margin-right: 17px;
}

@media screen and (max-width: 950px) {
  .card:nth-child(3n + 2)  {
      margin: 0 0 20px 0;
  }
}