.element__img {
    width: 282px;
    height: 282px;
    border-radius: 10px 10px 0 0;
}

.element__img:hover {
    cursor: pointer;
}


.element__img-box {
width: 20px;
height:20px;
background-color: green;
}
