.elements__container {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 950px) {
    .elements__container {
        justify-content: space-between;
    }
}
